@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500;700&display=swap");

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
}

:root {
    --background: #282c34;
    --backgroundLight: #484e56;
    --grey1: #999999;
    --smallFont: 0.82rem;
}

* {
    font-family: "Noto Sans JP", sans-serif;
    box-sizing: border-box;
    font-size: 14px;
    color: white;
}

html {
    background-color: var(--background);
}

.App {
    min-height: 100vh;
    padding: 5rem 0.5rem 0.5rem;
}

.App-container {
    width: 100%;
    max-width: 700px;
    margin: 0px auto;
    min-height: 250px;
}

/* Header & Footer */
header {
    width: 100%;
    z-index: 10;
    position: fixed;
    top: 0px;
    left: 0px;
    background: var(--backgroundLight);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
}

header h1 {
    justify-self: center;
}

header .menu {
    justify-self: right;
}

header .menu a {
    padding: 0.5rem 2rem;
    text-decoration: none;
}

/* General Elements */
h1,
h2,
h3,
h4 {
    font-weight: 500;
}

h2 {
    text-align: center;
    font-size: 1.75rem;
}

h3 {
    margin-bottom: 0.25rem;
    font-size: 1rem;
}

/* Group page */
ul.teams {
    list-style: none;
    margin: 0px 0px 1.5rem;
    padding: 0px;
    background: var(--grey1);
}

ul.teams li a {
    display: block;
    text-decoration: none;
    padding: 0.4rem 0.25rem;
    text-align: left;
    border-top: 1px solid #444444;
    position: relative;
    font-weight: 300;
}

ul.teams .arrow {
    position: absolute;
    right: 0.5rem;
    top: 10px;
    font-weight: 300;
}

ul.teams li a:hover {
    color: #cccccc;
}

table {
    width: 100%;
    width: calc(100% + 1rem);
    margin-left: -0.5rem;
    border-collapse: collapse;
}

.tabelle_link {
    display: block;
    text-align: right;
    width: calc(1rem + 100%);
    text-decoration: none;
    padding: 0.4rem 0.5rem;
    margin-left: -0.5rem;
    font-size: var(--smallFont);
}

table.ranking {
    margin-bottom: 0.8rem;
}

table.ranking tbody {
    background: #999999;
}

.ranking th {
    font-size: var(--smallFont);
    font-weight: normal;
}

.ranking td {
    text-align: center;
    border-top: 1px solid #444444;
}

.ranking td > * {
    padding: 0.4rem 0.25rem;
}

.ranking tr td:last-of-type {
    font-weight: bolder;
}

.ranking a {
    text-decoration: none;
}

td.rate {
    width: 70px;
    white-space: nowrap;
}

.rate span {
    width: 28px;
    display: inline-block;
    text-align: left;
}

.rate span:first-of-type {
    text-align: right;
}

td.team {
    text-align: left;
}

.ranking .team a {
    max-width: 300px;
    max-width: 35vw;
    overflow: hidden;
    display: block;
    white-space: nowrap;
}

.games td:nth-of-type(2n + 2) {
    text-align: center;
}

table tr td:first-child {
    padding-left: 0.5rem;
}

table tr td:last-child {
    padding-right: 0.5rem;
    text-align: right;
}

.games tr {
    background: var(--grey1);
}

.game_results td.result {
    padding: 0px 10px;
}

.result > span {
    width: 80px;
    margin: 0px auto;
    background-color: #484e56;
    border-radius: 7px;
    padding: 0.33rem;
    display: block;
}

.result span.number {
    width: 25px;
    display: inline-block;
    text-align: right;
}

.result span.number:last-of-type {
    text-align: left;
}

.game_info * {
    font-size: var(--smallFont);
}

tr.game_info {
    background: #282c34;
}

.game_info td {
    padding-top: 0.5rem;
}

.game_results td {
    padding: 0.125rem 0px;
    height: 46px;
}

.game_info.new_date:not(:first-of-type) td {
    padding-top: 1.75rem;
}

.game_results .team {
    width: 40%;
}

footer p {
    text-align: right;
    font-size: var(--smallFont);
}

.star {
    vertical-align: middle;
    padding-left: 5px;
    padding-bottom: 7px;
}

img.ad {
    width: 100%;
    max-width: 100%;
}
